OverviewGroup.scope{
	min-height: 129px;
	min-width: 162px;
}
/*OverviewGroup{
}
.scope > .mainContainer{
	flex-direction: row;
}*/

.mainContainer > #headerContainer {
	height: 32px;
	justify-content: center;
}
.mainContainer > #headerContainer > .unity-label{
	font-size: 14px;
	padding-left: 8px;
}
.scope > .mainContainer > #centralContainer > #contentContainerPlaceholder{
	padding: 8px;
}
