OverviewNode{
	width: 175px;
	max-width: 170px;
	height: 130px;
}
#title-label{
	margin-right: 6px;
	flex-grow: 1;
	-unity-text-align: middle-center;
}

.time_label{
	color: rgba(63,62,60,255);
	margin-left: 8px;
	margin-right: 8px;
}
#node-border{
	flex-grow: 1;
}

#contents > #center{
	flex-grow: 1;
	padding-bottom: 2px;
}